.category-title h1{
	color: $lawrenceville-red;
	text-align: center;
	font-family: $serif;
	text-transform: uppercase;
}

@media all and (max-width: 599px){
	.category-title h1{
		@include font-size-h($base-font-phone*2);
	}

}

@media all and (min-width: 600px) {
	.content-categorypage{
		width: $tablet-desktop-width;
		max-width: $max-page-width;
		margin: auto;

		.category-post-featured {
			display: flex;
			flex-direction: row;
			width: 90vw!important;
			max-width: 980px;
			margin: auto;
			border-top: 1px solid $lawrenceville-red-desaturated;
			border-bottom: 1px solid $lawrenceville-red-desaturated;

			.post-summary {
				width: 46%;
				margin-left: 2%;
				margin-right: 2%;
				margin-top: 0;
			}

			.flex-divider {
				width: 1px;
				background-color: $lawrenceville-red-desaturated;
			}

			p {
				@include font-size-p($base-font-tablet*0.8);
			}
		}
	}

	.category-title h1{
		@include font-size-h($base-font-tablet*2);
	}

	.category-post {
		margin-top: $base-font-tablet;
		margin-bottom: $base-font-tablet;
		.entry-info{
			@include font-size-h($base-font-tablet*0.8);
		}

		img {
			width: 100%;
			height: auto;
			margin-top: $base-font-tablet;
		}
		.title h1 {
			@include font-size-h($base-font-tablet*$base-headline-multiplier);
		}
	}

}

@media all and (min-width: 980px) {
	.content-categorypage {
		.category-post-featured{
			p {
				@include font-size-p($base-font-desktop*0.8);
			}
		}
	}

	.category-title h1{
		@include font-size-h($base-font-desktop*2);
	}

	.category-post {
		.title h1 {
			@include font-size-h($base-font-desktop*$base-headline-multiplier);
		}
	}

}
